:root {
    --blue: #3b5ad6;
    --navy: #1f2b57;
    --white: #f6fdff;
    --gray: #96adbd;
}

* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 25px;
    /* border: 2px red solid; */
    background-color: var(--blue);
    h1 {
        font-size: 50px;
        color: var(--white);
    }
}


main {
    display: flex;
    flex-direction: row;
    /* border: 2px red solid; */

}

.weather-search {
    padding: 2%;
    margin: 10px;
    border-right: 2px var(--gray) solid;
    h2 {
        color: var(--navy);
        font-size: 30px;
        padding: 10px 0;
    }
    input {
        font-size: 20px;
        padding: 5px;
        margin: 10px 0;
        border-color: var(--gray);
        border-radius: 15px;
    }
}

.btn {
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding: 5px;
    margin: 5px 0;
    margin-bottom: 10px;
    font-size: 17px;
    border-color: var(--navy);
    border-radius: 20px;
}

.city-inventory {
    margin: 2px;
    padding: 20px;
    border-top: 2px var(--gray) solid;
}

.dashboard {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* border: 2px red solid; */
    align-items: center;
}

#day-card {
    padding: 10%;
    margin: 4%;
    border: 2px red solid;
}

#week-card {
    padding: 5%;
    margin: 5% 2%;
    border: 2px red solid;
}