* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 25px;
    border: 2px red solid;
    h1 {
        font-size: 35px;
    }
}


main {
    display: flex;
    flex-direction: row;
    border: 2px red solid;
    /* aside {
        display: flex;
        flex-direction: row;
        padding: 7%;
        width: 20%;
        height: 100%;
        border: 2px red solid;
        h2 {
            padding: 20px;
            flex-direction: column;
        }
        section {
            padding: 20px;
            flex-direction: column;
            p {
                margin: 0;
            }
        }
    } */

}

.weather-search {
    padding: 2%;
    border: 2px red solid;
    h2 {
        font-size: 25px;
        padding: 10px 0;
    }
}

.btn {
    display: inline-block;
}

.dashboard {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 2px red solid;
    align-items: center;
}

#day-card {
    padding: 10%;
    margin: 4%;
    border: 2px red solid;
}

#week-card {
    padding: 5%;
    margin: 5% 2%;
    border: 2px red solid;
}